@charset "utf-8";

body{
	margin: 0;
	padding: 0;
	border: 0;
}
li{list-style:none;}
a:link{text-decoration:none;}

.bar ul a:hover{}
.bar li:hover{ background-image:url(../img/hover.png);color:#FFF;}
.header{
	width:100%;
	height:20px;
	background-color:#000;
	color:#FFF;
	font:"微软雅黑";
	font-weight:normal;
	
}
.paper,.team{width:1200px; 
margin:auto;
height:auto;
position:relative;
display:block;
overflow:hidden;
margin-bottom:20px;
}
.header h1{
font-size:10px;
line-height:20px;
margin:0px;
display:inline-block;
}
.header h2{
	float:right;
	margin:0px;
	display:inline-block;
	line-height:20px;
	font-size:10px;
	margin-left:10px;
	}

.bar{ width:100%;
height:70px;
/*background-color:#d7d7d7;*/
background-color: white;
border-bottom: #CDCDCD;
/* border-bottom:#d7d7d7; */
border-bottom-style:solid;
border-bottom-width:1px;
border-top-style:solid;
border-top-width:1px;
position:fixed;
top:0px;
z-index:9999;
}
.bar ul{ width:auto;
display:inline-block;
float:right; 
margin:0px;
margin-top:20px;
    }
.bar li{width:120px; 
 height:29px;
text-align:center; 
font-family:"微软雅黑";
display:inline-block;
font-size:14px;
color:#000;
line-height:30px;
}

.login {width:109px;
height:40px;
float:right;
background-image:url(img/Login.png);
margin-top:15px;
display:inline-block;}

.login img{ width:30px;
height:30px;
margin-top:5px;
margin-left:5px;
float:left;
margin-right:5px;
}
.login h1{
	float:left;
	margin:0px;
	font-size:12px;
     color:#FFF!important;
     line-height:40px;
     display:inline-biock;}
.banner{
	width:100%;
	height:500px;
	margin-top:70px;
}
.service{
display:inline-bolck;
float:left;
margin-right:20px;
width:200px;
padding-left:0px;}
.service li{ 
font-size:12px;
 font-family:"微软雅黑";
 color:#000;
 margin-bottom:5px;
 }
.service a{
	color:#000;
	}
.service a:hover{
	font-size:14px;
	}
.service>li:first-child{
	font-size:14px; 
font-weight:bold!important;
}
.service h1{
	margin:0px;
	}
.service h2{
	font-size:14px; 
	font-weight:bold;
    margin:0px;
}
.service img{
	margin-right:5px;
	}
.code{ 
	margin-top:16px; 
	text-align:center; 
	width:auto; 
	font-size:12px; 
	font-family:"微软雅黑";
	display:inline-block;
	bottom:0px;
	right:0px;
	margin-left:250px;
	}
.code img{ 
	display:block; 
	clear:both; 
	margin:auto;
	width: 100px;
}
.declaration{ text-align:center; 
    font-size:12px !important; 
    font-family:"微软雅黑";
	width:100%; 
	margin:0px; 
	height:40px;
	clear:both; 
	padding-top:10px;
	padding-bottom: 20px;
}
.ad:hover{box-shadow:0px 8px 12px #666}
#weixin_img{
	margin-bottom: -1%;
}
.qrcode_img{
	margin-top: 30px;
}
.qrcode_tips{
	margin-top: 5px;
}
.weixin_div{
	position: absolute;
	left: 65%;
    margin-top: -42px;
}
.triangle{
    position: absolute;
    width: 0;
    height: 0;
    bottom: -14px;
    left: 95px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #F0F0F0;
}
.padding-bottom-10{
	margin-bottom: 10px;
}
#qrcode_div{
	position: absolute;
	font-size: 12px;
	text-align: center;
	width: 210px;
	height: 235px;
	background-color: #F0F0F0;
	left: 65%;
	margin-left: -85.5px;
	margin-top: -260px;
	display: none;
	z-index: 3;
}